body{
    background-image: url(../Images/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#title {
    color: white;
    font-size: 550%;
    text-align: center;
}

#dataBox{
    background-color: black;
    margin-top: 1%;
    color: white;
    text-align: center;
}